# 依赖
node_modules
/.pnp
.pnp.js

# 构建输出
/build
/dist
.next
out
dist
.cache
.parcel-cache

# 环境变量文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.production

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 其他
.DS_Store
.idea
.vscode
*.swp
*.swo
hardhat_node.log
cache
artifacts
coverage

# Hardhat
/artifacts
/cache
typechain
typechain-types

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
